@-webkit-keyframes pulse {
  0% { background-color: #ed8c55; }
  50% { background-color: #FFF; }
  100% { background-color: #ed8c55; }
}

@-moz-keyframes pulse {
  0% { background-color: #ed8c55; }
  50% { background-color: #FFF; }
  100% { background-color: #ed8c55; }
}

@-o-keyframes pulse {
  0% { background-color: #ed8c55; }
  50% { background-color: #FFF; }
  100% { background-color: #ed8c55; }
}

@keyframes pulse {
  0% { background-color: #ed8c55; }
  50% { background-color: #FFF; }
  100% { background-color: #ed8c55; }
}

@keyframes redPulse {
  from { background-color: #fff; -webkit-box-shadow: 0 0 0 #333; }
  50% { background-color: #f00; -webkit-box-shadow: 0 0 16px #f00; }
  to { background-color: #fff; -webkit-box-shadow: 0 0 0 #333; }
}

mat-grid-tile {
  background: mintcream;
  flex-direction: column;
  //height:200px;
  //margin: 10px;
}

.infobutton {

  margin-left:50px;
}

.tileWeapon {
  background: #f00;
  -webkit-animation-name: redPulse;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: 5;
}

.mat-grid-tile-content
{
    flex-direction: column;
}

.tileImages{
  height:50%;
  width: 30%;

}

.detailImages{

  height:100%;
  width:100%;
}

.pulseGlow {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
}

