mat-grid-tile {
  background: mintcream;
  flex-direction: column;
  //height:200px;
  //margin: 10px;
}

.infobutton {

  margin-left:50px;
}

.tileWeapon {
  background: darkred;
}

.mat-grid-tile-content
{
    flex-direction: column;
}

.tileImages{
  height:50%;
  width: 30%;

}

.detailImages{

  height:100%;
  width:100%;
}
