<div #theContainer style="margin-top: 10px">
  <mat-grid-list
    *ngIf="showImages"
    [@listAnimation]="rkdata.length"
    cols="{{ columnNum }}"
    rowHeight="2:1"
    gutterSize="10px"
  >
    <mat-grid-tile
      *ngFor="let rkline of rkdata; index as i"
      [ngClass]="{
        tileWeapon: rkline.labels.indexOf('weapon') > -1,
        tileHyland: rkline.labels.indexOf('hylandemployee') > -1
      }"
    >
      <mat-grid-tile-header
        class=".tileHyland !important"
        [ngClass]="{
          tileHyland: rkline.labels.indexOf('hylandemployee') > -1
        }"
        >{{ rkline.name }}</mat-grid-tile-header
      >
      <img src="{{ rkline.src }}" class="tileImages" />
      <button mat-mini-fab (click)="openDialog(i)" class="infobutton">
        <mat-icon>search</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- [ngClass]="rkline.labels.indexOf('Weapon') > -1 ? 'tileWeapon' : ''" -->
